.read-products{
    .top{
        display: flex;
        justify-content: space-between;
        color: var(--title);
        #create-btn{
            width: 180px;
            height: 41px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #4880ff;
            color: white;
            border-radius: 8px;
            font-weight: bold;
            border: none;
            cursor: pointer;
            .fa-circle-plus{
                margin-right: 5px;
                text-align: center;

            }

        }
    }

    .body-products{
      display: flex;
      flex-wrap: wrap;
        gap: 23px;
        margin-top: 30px;
        justify-content: space-between;
                
    }
  
    @media screen and (max-width:1200px) {
        .body-products{
            justify-content: center;

    
        }
    }
    
    


    .box-product{
        width: 250px;
        height: 295px;
       background-color: white;
       border-radius: 5px;
       padding: 20px;
        img{
            width: 125px;
            height: 145px;
            margin-bottom: 25px;
            text-align: center;
            margin: 0 auto;
        }
        #name{
            font-size: 18px;
            font-weight: bold;
            color: #202224;
            margin-bottom: 15px;
        }
        #price{
            font-size: 14px;
            font-weight: bold;
            color: #4880ff;

        }
        .buttons{
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
            
            button{
                background-color: transparent;
                border: none;


            }
          
        }
        #edit{
            width: 127px;
            height: 28px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #e2eaf8;
            border-radius: 30px;
        }
    }
}

/* @media screen and (max-width:1000px) {
    .body-products{
        grid-template-columns: repeat(2,auto);

    }
} */
