.resault-search{
    position: absolute;
    z-index: 8;

    top: 35px;
    left: 0;

    width: 100%;
    background-color: white;

    display: flex;
    flex-direction: column;
    box-shadow: 0 0 8px #ddd;
    border-radius: 10px;
    overflow-y: scroll;
    max-height: 300px;
    margin-top: 16px;


    .res-serch{
        padding: 10px;
        

    }


}