.search-bar{
    position: relative;
    input{
        height: 30px;
        padding: 18px;
        width: 370px;
        border: none;
        border-radius: 30px;
        background-color: #f5f6fa;
    }
    
        .absolute{
            position: absolute;
            right: 15px;
            top: 30%;
            border: none;

        }

    }
 

 