.product-detail{

    display: flex;
        flex-direction: column;
        justify-content: space-between;
    h2{
        text-align: center;
        margin-bottom: 40px;
        color: rgb(222, 9, 9);
        
        
    }
    /* #item{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    } */
    .detail-body{
        display: flex;
        flex-direction: column;
        gap: 20px;

    }
    a{
        display: block;
        margin-top: 50px;
        text-decoration: none;
        cursor: pointer;
        color: rgb(222, 9, 9);

    }

}